body {
    background-image: url(../images/cave.jpeg);
    padding: 200px 100px;
    margin: 100px;
    background-repeat: repeat-x;
}

.instructions {
    background-color: gainsboro;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

.display-4 {
    text-align: center;
}

/* Specfic Elements*/
div.header, div.gems{
	background-color: #e0e0eb;
}
div.header, div.instructions{
    width: 50%;
    text-align: center;
}
/* More Classes */
.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
    height: 60px;
    font-size: x-large;
    background-color: crimson;
    color: whitesmoke;
    text-align: center;
}

.userTotal{
	width: 15%;
	height: 60px;
}

.gems{
	clear: both;
}

.gemImage{
	height: 60px;
	margin: 10px;
}

/* IDs */
#blue{
	color: #3092c7;
}

#green{
	color: #00aa59;
}

#red{
	color: #ec4b5f;
}

#yellow{
	color: #ffc225;
}

.userTotal {
    font-size: 30px;
    background: black;
    color: whitesmoke;
}